<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>React SPA</title>
 </head>
<body>
    <div id="App">Loading...</div>
    <script src="~/bundle/script.js"></script>
</body>
</html>
