<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>template</title>
 </head>
<body>
    @*<h1>Hello world</h1>
    <h1 id="helloworld"></h1>
    <div id="helloreact"></div>
    <div id="alfatest"></div>*@

    <div id="content"></div>
    <script src="~/bundle/script.js"></script>
</body>
</html>